.tf-image-slider {
    background-color: $gray-dark;
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 22;
    direction: ltr;
    & ul {
        height: 100%;
        margin: 0;
        padding: 0
    }
    & li {
        height: 100%;
        margin: 0;
        position: relative;
        list-style: none;
        width: 100%
    }
    & li img {
        border: none;
        margin: 0;
        //display: none;
        opacity: 1;
        width: 100%;
        height: auto;
        position: relative;
        -webkit-transition: opacity $animation-speed-normal ease 0s;
        transition: opacity $animation-speed-normal ease 0s;
        &.ng-hide {
            width: 0;
            height: 0;
            opacity: 0;
            position: absolute;
        }
    }
    & li img.show {
        opacity: 1;
        display: block;
    }
    .tf-image-slider-pagination {
        left: 0;
        bottom: $vertical-padding;
        width: 100%;
        text-align: center;
        height: 12px;
        position: absolute;
        & li {
            background: rgba($theme-color, 0.3);
            border-radius: 12px;
            display: inline-block;
            height: 12px;
            width: 12px;
            margin: 0 5px;
            position: relative;
            cursor: pointer;
            &.current {
                background: $theme-color;
            }
        }
    }
}