.tf-switch {
    display: inline-block;
    cursor: pointer;
    width: 40px;
    height: 15px;
    background: $input-border;
    border-radius: 25px;
    border: none;
    padding: 0;
    margin-left: 2px;
    margin-right: 2px;
    transform: translateY(25%);
    transition: all $animation-speed-fast;
    -webkit-transition: all $animation-speed-fast;
    &.checked {
        background: lighten( $theme-color, 25%);
        & .switch-lever {
            margin-right: 21px; // (43 - 23) + 1
            background: $theme-color;
        }
    }
    & .switch-lever {
        width: 23px;
        height: 23px;
        transform: translateY(-4px);
        margin-right: -1px;
        display: block;
        background-color: darken($body-bg, 4%);
        border-radius: 23px;
        box-shadow: $short-shadow; //border-bottom: solid 1px $input-border;
        /* border-top: solid 1px #fff; */
        transition: all $animation-speed-fast;
        -webkit-transition: all $animation-speed-fast;
    }
}