.tf-image-slider {
    position: relative;
    padding: 0 !important;
    background-color: $text-color;
    margin: 0;
    z-index: 22;
    direction: ltr;
    & li .bgimage {
        width: 100%;
        background-position: center;
        background-size: cover;
        & .bgtext{
            color: $body-bg;
            font-weight: bold;
            font-size: 20px;
            display: block;
            text-align: center;
            width: 100%;
            background: rgba($theme-color, 0.45);
            padding: 8px;
            cursor: pointer;
        }
    }
    .tf-image-slider-pagination {
        left: 0;
        bottom: $vertical-padding;
        width: 100%;
        text-align: center;
        height: 8px;
        position: absolute;
        & li {
            background: rgba($theme-color, 0.4);
            border-radius: 4px;
            display: inline-block;
            height: 8px;
            width: 8px;
            margin: 0 3px;
            position: relative;
            cursor: pointer;
            transition-duration: $animation-speed-fast;
            -webkit-transition-duration: $animation-speed-fast;
            &.current {
                background: $theme-color;
                width: 15px;
            }
        }
    }
    & .rn-carousel-control {
        color: $theme-color;
        font-size: 23px;
    }
}