.tf-select {
    & > .tf-select-inner {
        &.ng-hide {
            opacity: 0;
        }
        & .tf-navbar {
            cursor: default;
            & .form-control {
                border: none;
                border-radius: 16px;
                cursor: text;
            }
        }
        & .tf-container {
            overflow-y: scroll;
            height: auto;
            & > .list-group {
                margin: 0;
                cursor: pointer;
                & .list-group-item.focus {
                    background-color: darken($body-bg, 3%);
                    &.active {
                        background-color: lighten($theme-color, 5%);
                    }
                }
            }
        }
    }
}

.tf-select-element {
    height: auto;
    min-height: $input-height-base;
    cursor: text;
    & .item {
        cursor: text;
        &.item-single {
            display: block;
        }
        &.item-multiple {
            margin: 0 0 1px 2px;
            padding: 0 8px;
            background: #eee;
            color: #6f6f6f;
            border: none;
            display: inline-block;
            font-size: 13px;
        }
    }
}