<nav class="tf-navbar">
    <section class="icon">
        <i class="fa" ng-class="currentItem().icon"></i>
    </section>
    <section class="title">
        <h4 ng-bind="currentItem().alias"></h4>
    </section>
    <section class="icon button" tf-go="back">
        <i class="fa fa-arrow-left"></i>
    </section>
</nav>
<ul class="tf-tabs">
    <li ng-class="{active: activeTab==0}" ng-click="activeTab=0"> <i class="fa fa-eye"></i> نمایش </li>
    <li ng-class="{active: activeTab==1}" ng-click="activeTab=1"> <i class="fa fa-code"></i> توضیحات </li>
</ul>
<div class="tf-container horizontal-padding vertical-padding" ng-show="activeTab==0" style="min-height: 100%">
    <div class="row">
        <div class="form-group col-sm-6 col-xs-12">
            <label class="control-label">انتخاب یکی</label>
            <tf-select class="form-control" ng-model="inputs.model[0]" options="options"></tf-select>
        </div>
        <div class="form-group col-sm-6 col-xs-12">
            <label class="control-label">انتخاب چندتا</label>
            <tf-select class="form-control" ng-model="inputs.model[1]" options="options" multiple></tf-select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6 col-xs-12">
            <label class="control-label">با قابلیت اضافه‌کردن </label>
            <tf-select class="form-control" ng-model="inputs.model[2]" options="options" allow-create></tf-select>
        </div>
        <div class="form-group col-sm-6 col-xs-12">
            <label class="control-label">با قابلیت حذف کردن </label>
            <tf-select class="form-control" placeholder="حذف کنید!" ng-model="inputs.model[3]" options="options" allow-create allow-delete></tf-select>
        </div>
    </div>
</div>

<div class="tf-container horizontal-padding vertical-padding" ng-show="activeTab==1">
    <p>
        قابلیت‌ها:
    </p>
    <ul>
        <li> هماهنگی با فرم‌های bootstrap با استفاده از کلاس form-control </li>
        <li> امکان انتخاب یک یا چند گزینه توسط کاربر. </li>
        <li> امکان حذف گزینه توسط کاربر. </li>
        <li> امکان اضافه کردن گزینه توسط کاربر. </li>
    </ul>
    <p>
        در نسخه قبلی، دایرکتیوی تحت پلاگین selectize در jquery نوشته شده بود. در این نسخه، این دایرکتیو تماما توسط angularjs و بدون وابستگی دیگر ایجاد شده است.
    </p>
    <p>
        برای انتخاب چند گزینه از اتریبیوت multiple، برای امکان اضافه‌کردن آیتم توسط کاربر از اتریبیوت allow-create و برای اجازه حذف آیتم‌ها از allow-delete استفاده کنید و برای متن نمایشی قبل از انتخاب از placeholder استفاده کنید. همچنین گزینه‌های از پیش تعیین
        شده، در قالب آرایه در جاوااسکریپت مقدار گرفته و به اتریبیوت options پاس داده می‌شوند. اتریبیوت ng-model هم به عنوان مدل این المنت استفاده می‌شود.
    </p>

    <pre>
//html
&lt;tf-select class=&quot;form-control&quot; allow-create multiple options=&quot;options&quot; ng-model=&quot;input&quot;&gt;
&lt;/tf-select&gt;

//js
options = [
    { text: 'Option One', value: 1},
    { text: 'Option Two', value: 2},
    { text: 'Option Tree', value: 3}
];
input = []; /* picked item value by user */
    </pre>
</div>