<nav class="tf-navbar">
    <section class="icon">
        <i class="fa fa-automobile"></i>
    </section>
    <section class="title">
        <h4>آپلود فایل</h4>
    </section>
    <section class="icon button" tf-go="back">
        <i class="fa fa-arrow-left"></i>
    </section>
</nav>

<div class="tf-container horizontal-padding vertical-padding">
    <button class="btn btn-warning" tf-file-chooser ng-model="inputs.file">Select!</button>
    <button class="btn btn-primary" ng-click="submit()">Send It!</button>
</div>