<nav class="tf-navbar">
    <section class="icon">
        <i class="fa fa-automobile"></i>
    </section>
    <section class="title">
        <h4>فرم‌ها</h4>
    </section>
    <section class="icon button" ng-click="bottomSheet=true">
        <i class="fa fa-arrow-up"></i>
    </section>
    <section class="icon button" tf-go="back">
        <i class="fa fa-arrow-left"></i>
    </section>
</nav>

<div class="tf-container horizontal-padding vertical-padding">
    <div class="panel panel-default">
        <div class="panel-heading">دراپ‌داون Dropdown</div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-sm-4 col-xs-12">
                    <label class="control-label">هویجوری</label>
                    <tf-selectize class="form-control" options="options.one" ng-model="inputs.selectOne"></tf-selectize>
                </div>
                <div class="form-group col-sm-4 col-xs-12">
                    <label class="control-label">چندتایی</label>
                    <tf-selectize class="form-control" multiple options="options.one" ng-model="inputs.multiple"></tf-selectize>
                </div>
                <div class="form-group col-sm-4 col-xs-12">
                    <label class="control-label">با قابلیت اضافه کردن</label>
                    <tf-selectize class="form-control" allow-create options="options.one" ng-model="inputs.multiple"></tf-selectize>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="middle"> سوییچ Switch </span>
            <tf-switch class="pull-left middle"></tf-switch>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-sm-2 col-xs-3">
                    <label class="control-label">عدد</label>
                    <tf-switch class="form-control" ng-model="inputs.switch">
                    </tf-switch>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">انتخاب تاریخ Datepicker</div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-sm-6 col-xs-12">
                    <label class="control-label">تاریخ تولد</label>
                    <tf-datepicker class="form-control" ng-model="inputs.dt"></tf-datepicker>
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                    <label class="control-label">تاریخ تولد</label>
                    <tf-datepicker class="form-control" calendar="gregorian"></tf-datepicker>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">اینپوت‌ها Inputs</div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-sm-3 col-xs-6">
                    <label class="control-label">عدد</label>
                    <input type="number" class="form-control" />
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <label class="control-label">نوشته</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <label class="control-label">پسورد</label>
                    <input type="password" class="form-control" />
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <label class="control-label">ایمیل</label>
                    <input type="email" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">دکمه‌ها Buttons</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-3">
                    <button class="btn btn-primary btn-block">
                        پرایمری
                    </button>
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-success btn-block">
                        ساکسذ
                    </button>
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-warning btn-block">
                        وارنینگ
                    </button>
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-info btn-block">
                        اینفو
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <br/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <button class="btn btn-danger btn-block">
                        دنجر
                    </button>
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-default btn-block">
                        دیفالت
                    </button>
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-link btn-block">
                        لینک
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>

<tf-bottom-sheet open="bottomSheet">
    <ul class="list-group">
        <li class="list-group-item" tf-go="/page-two">
            <i class="fa fa-database"></i> صفحه دو
        </li>
        <li class="list-group-item selected" tf-go="/movies">
            <i class="fa fa-paper-plane"></i> سرچ
        </li>
        <li class="list-group-item" tf-go="/forms">
            <i class="fa fa-plus-square"></i> فرم
        </li>
    </ul>
</tf-bottom-sheet>