<nav class="tf-navbar" ng-show="floating">
    <section class="icon">
        <i class="fa fa-facebook"></i>
    </section>
    <section class="title">
        <h4>صفحه دو</h4>
    </section>
    <section class="icon button" ng-click="toast()">
        <i class="fa fa-info"></i>
    </section>
    <section class="icon button" tf-go="/page-one">
        <i class="fa fa-arrow-left"></i>
    </section>
</nav>
<div class="tf-container horizontal-padding vertical-padding" tf-scroll tf-scroll-down="floating = false" tf-scroll-up="floating=true">
    <p><span ng-repeat="i in [].constructor(300) track by $index">
        و دوباره سلام. این صفحه دو است. و اینم یه مطلب همینجوری. {{ $index }}
    </span></p>

    <tf-floating-btn ng-show="floating"><i class="fa fa-plus"></i></tf-floating-btn>
</div>