<nav class="tf-navbar" ng-show="floating">
    <section class="icon">
        <i class="fa fa-apple"></i>
    </section>
    <section class="title">
        <h4>صفحه تست</h4>
        <p>این یک متن طولانی است و برای این مورد استفاده میگیرد که ادامه‌ی آن در موبایل و دیگر دیوایس های کوچک دیده نشود.</p>
    </section>
    <section class="icon button" ng-click="sidebar =! sidebar">
        <i class="fa fa-navicon"></i>
    </section>
</nav>
<ul class="tf-tabs">
    <li tf-go="/movies"> <i class="fa fa-github"></i> سرچ گیتهاب </li>
    <li tf-go="/page-one" class="active"> <i class="fa fa-picture-o"></i> اسلاید‌شو </li>
    <li tf-go="/forms"> <i class="fa fa-check-square-o"></i> فرم </li>
</ul>
<div class="tf-container horizontal-padding vertical-padding" tf-scroll tf-scroll-down="floating = false" tf-scroll-up="floating=true" tf-scroll-top="lg('top')" tf-scroll-bottom="lg('bottom')">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
            <h2> اسلاید شو </h2>
            <div>
                <tf-image-slider ng-model="images" class="vertical-padding "></tf-image-slider>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
            <h2> ایمیج پیکر </h2>
            <div class="row">
                <button class="btn btn-warning" tf-image-picker ng-model="inputs.file"> انتخاب کن </button>
                <img ng-src="{{inputs.file}}" width="100px"></img>
            </div>
        </div>
        <p class="vertical-padding">
			<span ng-repeat="i in [].constructor(300) track by $index">
				و دوباره سلام. این صفحه دو است. و اینم یه مطلب همینجوری. {{ $index }}
			</span>
        </p>
    </div>

</div>



<tf-sidebar open="sidebar" direction="left">
    <ul class="list-group block">
        <li class="list-group-item pointer" tf-go="/page-two">
            <i class="fa fa-bar-chart"></i> صفحه دو
        </li>
        <li class="list-group-item pointer" tf-go="/file">
            <i class="fa fa-file"></i> فایل
        </li>
        <li class="list-group-item pointer" tf-go="/movies">
            <i class="fa fa-cog"></i> سرچ
        </li>
        <li class="list-group-item pointer" tf-go="/forms">
            <i class="fa fa-photo"></i> فرم
        </li>
    </ul>
</tf-sidebar>
