<nav class="tf-navbar">
    <section class="icon">
        <i class="fa" ng-class="currentItem().icon"></i>
    </section>
    <section class="title">
        <h4 ng-bind="currentItem().alias"></h4>
    </section>
    <section class="icon button" tf-go="back">
        <i class="fa fa-arrow-left"></i>
    </section>
</nav>
<ul class="tf-tabs">
    <li ng-class="{active: activeTab==0}" ng-click="activeTab=0"> <i class="fa fa-eye"></i> نمایش </li>
    <li ng-class="{active: activeTab==1}" ng-click="activeTab=1"> <i class="fa fa-code"></i> توضیحات </li>
</ul>
<div class="tf-container horizontal-padding vertical-padding" ng-show="activeTab==0" style="min-height: 100%">
    <div class="row">
        <div class="form-group col-xs-6">
            <label class="control-label">مثال در فرم</label>
            <div class="checkbox">
                <tf-switch></tf-switch>
            </div>
        </div>
    </div>
    <p>
        و یا مثال inline که در اینجا
        <tf-switch ng-model="model.two" on-value="1"></tf-switch> مشاهده می‌کنید. مقدار این دستگیره الآن {{model.two}} است.
    </p>


</div>

<div class="tf-container horizontal-padding vertical-padding" ng-show="activeTab==1">
    <p>
        قابلیت‌ها:
    </p>
    <ul>
        <li> دریافت فوکوس </li>
        <li> هماهنگی با فرم </li>
        <li> تنظیم مقادیر خاص </li>
    </ul>
    <p>
        اتریبیوت ng-model همانطور که از نامش پیداست، برای دریافت مدل استفاده می‌شود. مقادیری که در اتریبیوت‌های دل‌بخواهی on-value و off-value وارد می‌شود، برای مقدار مدل، هنگام انتخاب‌شده و بالعکس استفاده می‌شود. در صورتی که این دو اتریبیوت مقداردهی نشوند، true
        و false در نظر گرفته می‌شود.
    </p>
    <p>
        همچنین در نظر داشته باشید که اگر مقدار ngModel در ابتدای کار مقداری خارج از onValue یا offValue باشد، مقدار offValue به طور پیش‌فرض برای آن در نظر گرفته می‌شود.
    </p>
    <pre>
//html
&lt;tf-switch ng-model=&quot;switch&quot; on-value=&quot;{‌{onValue}‌}&quot; off-value=&quot;{‌{offValue}‌}&quot;&gt;
&lt;/tf-switch&gt;

//js
onValue = 'it is true!';
offValue = 'false :(';
switch = ''; /* switch value */
    </pre>
</div>